.home-container {
    margin-top: 42px;
    padding-left: 40px;
    padding-right: 40px;
}

.home-content {
    border-radius: 20px;
    padding-top: 155px;
    padding-bottom: 155px;
}

.home-title {
    font-size: 55px;
    line-height: 75px;
    letter-spacing: -0.015em;
    margin-bottom: 30px;
}

.home-description {
    color: #9E9E9E;
    font-size: 24px;
    line-height: 33px;
    letter-spacing: -0.015em;
    margin-bottom: 150px;
}

.main-image {
    width: 100%;

}

.home-text {
    padding-left: 100px;
}