.base-form-container {
    border-radius: 20px;
    padding: 70px 45px 50px 45px;
    width: 1075px;
}

.base-form-title {
    font-weight: bold;
    font-size: 24px;
    line-height: 33px;
    letter-spacing: -0.015em;
    text-transform: uppercase;
    margin-bottom: 45px;
}

.base-form-buttons {
    text-align: right;
    margin-top: 73px;

}

// mobile breakpoints 
@media (max-width: 768px) {
    .base-form-container {
        width: 100%;
    }
}
@media (max-width: 576px) {


}
