.product-details-container {
    margin: 40px 0px;
    padding: 0px 40px;

    .product-price-container {
        margin-top: 30px;
    }
}

.product-details {
    padding: 50px 60px 90px 60px;
}

.product-details .price {
    font-size: 48px;
}

.icon-goback {
    transform: rotate(-180deg);
    color: #407BFF;
    margin-right: 30px;
}

.details-goback {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    max-width: fit-content;
}

.text-goback {
    font-size: 24px;
    line-height: 33px;
    letter-spacing: -0.015em;
    color: #263238;
}

.product-details-info {
    display: flex;
    flex-direction: row;
}

.product-details-card {
    width: 100%;
    border: 1px solid #E1E1E1;
    box-sizing: border-box;
    border-radius: 20px;
    padding: 38px 29px;

}

.product-details-image {
    width: 356px;
    height: 356px;
}

.product-description-title {
    font-size: 18px;
    line-height: 25px;
    letter-spacing: -0.015em;
    color: #9E9E9E;
    margin-bottom: 25px;
}

.product-description-text {
    font-size: 18px;
    line-height: 25px;
    letter-spacing: -0.015em;
    color: #9E9E9E;
}

.product-details-image-title {
    font-size: 36px;
    line-height: 49px;
    letter-spacing: -0.015em;
    color: #263238;
    margin-top: 30px;
}

// mobile breakpoints 
@media (max-width: 768px) {
    .product-details {
        display: flex;
        flex-direction: column;
    }

    .product-details-info {
        flex-direction: column;
    }

    .product-details-card {
        width: 530px;
        margin: 0 auto;
    }

    .product-info-fields {
        border: 1px solid red;
        border: 0px;
        padding: 0px 10px;
        margin-bottom: 40px;
        width: 530px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .product-description-text {
        width: 460px;
    }

    
}
@media (max-width: 576px) {


}