.nav-menu-container {
    background-color: #FFF;
    width: 304px;
    height: 100vh;
}

.nav-menu-item {
    width: 304px;
    height: 80px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #E1E1E1;

    font-size: 18px;
    line-height: 25px;
    letter-spacing: -0.015em;
    color: #9E9E9E;
    font-weight: bold;
    padding-left: 40px;

    &.active {
        background-color: rgba(64, 123, 255, 0.3);
        color: #407BFF;
    }
    &:hover {
        color: #407BFF;
    }
}

// mobile breakpoints 
@media (max-width: 768px) {
    .nav-menu-container {
        width: 100%;
        height: 120px;
        display: flex;
        align-items: center;
    }

    .nav-menu-container ul {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;

    }

    .nav-menu-item {
        width: 200px;
        height: 60px;
        border-radius: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-left: 0px;
        background-color: #F2F2F2;
    }
    

    
}
@media (max-width: 576px) {


}

